.about-wrapper{
    padding-bottom: 100px;
    padding-top: 50px;
    
    .about-title{
        display: flex;
        justify-content: center;
        padding: 40px;
        font-size: 1.5em;
        font-family: $title;
        color: $dark;
    }

    .about-info-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        
    }
    
    .about-info-wrapper img{
        width: 50%;
        margin-bottom: 70px;
        margin-top: 20px;
    }

    .about-info{
        display: grid;
        grid-template-rows: 1fr 4fr;  
        justify-content: center;
        padding-right: 50px;

        h2{
            text-align: center;
            font-family: $title;
            color: $dark;
        }

        p{ 
            text-align: center;
            font-family: $text;
            color: $dark;
        }
    }
}
