.artwork-wrapper{
    padding-bottom: 150px;
    font-family: $title;
    padding-top: 50px;

    h1{
        display: flex;
        justify-content: center;
        padding: 40px;
        color: $dark;
    }

    .artwork-info-wrapper{
        h2{
            display: flex;
            justify-content: center;
            padding: 40px;
            color: $dark;
        }
        
        .two-column-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 50px;
            
            .individual-artwork{
                margin: 20px 20px;
                grid-template-rows: repeat 4;
                display: flex;
                flex-direction: column;
                background-color: $grey;
                justify-content: center;
                align-items: center;
                border: 10px solid $text-color;
                padding-top: 10px;
                

                img{
                    margin: 0;
                    padding: 50px;
                    size: 50%;

                    &:hover{
                        opacity: .5;
                        transition: .5s;
                    }
                }

                a{
                    color: $text-color;
                    padding-bottom: 30px;
                    font-size: 2em;
                    text-decoration: none;
                    border-bottom: 1px solid transparent;
                    text-align: center;

                    &:hover{
                        text-decoration: underline;
                        color: $dark;
                        transition: 0.5s;
                    }
                }
            }
        }
    } 
}