.auth-page-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 150px;

    .left-column {
        justify-self: center;
        align-self: center;

        img{
            width: 100%;
            padding: 50px;
        }
    }

    .right-column{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}