.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    padding-bottom: 100px;

    .left-column img{
        width: 100%;
        padding: 50px;
    }

    .right-column{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}