.footer-wrapper{
    background-color: $grey;
    position: relative;
    bottom: 4px;
    right: 0;
    left: 0;

    .footer-nav-links-wrapper{
        display: flex;
        justify-content: space-around;
        padding: 30px 15px 15px 15px;

        a{
            text-decoration: none; 
            color: $text-color;
            font-family: $title;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;

            &:hover{
                border-bottom: 1px solid black;
                color: black;
                transition: 0.5s;
            }
        }
    }

    .social-media-wrapper{
        display: flex;
        justify-content: center;

        .social-media-link{
            width: 20px;
            padding: 20px 30px;

            
        }
    }

}