.home{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 74%;
    margin-top: 50px;
    padding-left: 200px;


    img{
        width: 40vh;
    }

    h1{
        font-family: $title;
        color: $gold;
        justify-self: center;
    }
}